<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" />
    
    <target xsi:type="ColoredConsole"
            name="coloredlogconsole"
            encoding="utf-8"
            layout="Layout"
            header="Layout"
            footer="Layout"
            useDefaultRowHighlightingRules="Boolean"
            errorStream="Boolean"
            enableAnsiOutput="Boolean"
            detectConsoleAvailable="Boolean">
      <highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum"/>
      <!-- repeated -->
      <highlight-word backgroundColor="Enum" foregroundColor="Enum" ignoreCase="Boolean"
                      regex="String" text="String" wholeWords="Boolean" compileRegex="Boolean"/>
      <!-- repeated -->
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="coloredlogconsole" />
  </rules>
</nlog>